@import "fonts";
@import "variables";
@import "components";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-weight: unset;
    font-style: unset;
    text-decoration: unset;
    color: inherit;
    appearance: none;
    border: unset;
    background: transparent;
    font-size: unset;
    border-radius: unset;
}

html {
    background: $color_02;
}

body {
    font-family: $sansserif;
    color: $color_01;
    overflow-x: hidden;

    &.is-freeze {
        height: 100vh;
        overflow: hidden;
    }
}

#header,
#main,
#footer {
    opacity: 0;
}

#header {
    position: fixed;
    width: 100vw;
    padding-top: 15px;
    z-index: 50;
    user-select: none;

    .header-inner {
        @include container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;

        .header-brand {
            text-transform: uppercase;
            font-weight: 500;
            line-height: 1.1;
            font-size: clamp(15px, 2vmin, 17px);
            position: relative;
            z-index: 50;
        }

        .header-gallery {
            &:before {
                content: "";
                display: block;
                width: 100%;
                aspect-ratio: 6;
                margin-bottom: 5px;
                background: linear-gradient(
                    to right,
                    rgba(255, 255, 255, 0.17) 17%,
                    rgba(255, 255, 255, 0.33) 17%,
                    rgba(255, 255, 255, 0.33) 33%,
                    rgba(255, 255, 255, 0.5) 33%,
                    rgba(255, 255, 255, 0.5) 50%,
                    rgba(255, 255, 255, 0.67) 50%,
                    rgba(255, 255, 255, 0.67) 67%,
                    rgba(255, 255, 255, 0.83) 67%,
                    rgba(255, 255, 255, 0.83) 83%,
                    rgba(255, 255, 255, 1) 83%
                );
            }

            .text {
                font-family: $numeric;
                text-transform: uppercase;
                font-size: 12px;
                display: flex;
                column-gap: 15px;

                &:before {
                    content: "0";
                }
                &:after {
                    content: "6";
                }
            }
        }
    }

    @media (min-width: $tablet) {
        padding-top: 35px;
    }
}

#main {
    background: $color_02;
    min-height: 100vh;
    counter-reset: part;
    transition: background 0.2s ease;

    .section {
        &--part {
            counter-increment: part;
            counter-reset: chapter;
            height: 50vh;

            .section-inner {
                @include container;
                height: 100%;

                .part {
                    height: 100%;
                    display: grid;
                    place-items: center;

                    .title {
                        font-size: clamp(10vw, 12.2vw, 254px);
                        text-transform: uppercase;
                    }
                }
            }
        }

        &--chapter {
            counter-increment: chapter;
            border-top: solid 3px $color_01;
            padding: 5vmin 0;

            .section-inner {
                @include container;

                .chapter {
                    display: grid;
                    grid-template-areas:
                        "number balls"
                        "content content"
                        "metas metas";
                    grid-template-columns: 1fr auto;
                    column-gap: 30px;
                    row-gap: 30px;

                    .content {
                        grid-area: content;

                        .title {
                            text-transform: uppercase;
                            font-size: clamp(35px, 4vmin, 60px);
                        }

                        .excerpt {
                            margin-top: 1.5vmin;
                            font-size: clamp(25px, 3vmin, 50px);

                            p + p {
                                margin-top: 1em;
                            }
                        }
                    }

                    .metas {
                        grid-area: metas;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        column-gap: 20px;
                        row-gap: 18px;
                        text-transform: uppercase;
                        font-size: 14px;

                        strong {
                            display: block;
                        }
                    }

                    &:before {
                        grid-area: number;
                        content: counter(part) "." counter(chapter);
                        font-size: clamp(35px, 4vmin, 60px);
                        letter-spacing: -0em;
                    }

                    .balls {
                        grid-area: balls;
                        @include balls;
                    }
                }
            }

            @media (min-width: $tablet) {
                .section-inner {
                    .chapter {
                        grid-template-areas: "number metas content balls";
                        grid-template-columns: 10% 10% 1fr auto;
                        column-gap: 50px;
                        align-items: start;

                        .metas {
                            grid-template-columns: 1fr;
                        }
                    }
                }
            }
        }

        &--viewfinder {
            .section-inner {
                .viewfinder {
                    padding: 10vmin 0;
                    display: grid;
                    place-items: center;

                    .colors {
                        grid-area: 1 / 1 / 2 / 2;
                        overflow: hidden;
                        width: 100%;

                        .colors-wrapper {
                            display: flex;
                            flex-wrap: nowrap;
                            column-gap: 6vmin;
                            width: max-content;

                            .color {
                                width: 12vmin;
                                aspect-ratio: 1;
                                border-radius: 50%;

                                $colors: (
                                    #f6d2df,
                                    #697976,
                                    #f0dee2,
                                    #d4e4e1,
                                    #7c766a,
                                    #6e7682,
                                    #e9e1d5,
                                    #f6f6f6,
                                    #f6d2df,
                                    #6a7a77,
                                    #996659,
                                    #f6d2df,
                                    #697976,
                                    #f0dee2,
                                    #d4e4e1,
                                    #7c766a,
                                    #6e7682,
                                    #e9e1d5,
                                    #f6f6f6,
                                    #f6d2df,
                                    #6a7a77,
                                    #996659
                                );

                                @for $i from 1 to 22 {
                                    &:nth-child(#{$i}) {
                                        background: nth($colors, $i);
                                    }
                                }
                            }
                        }
                    }

                    .lens {
                        grid-area: 1 / 1 / 2 / 2;
                        width: 70vmin;
                        aspect-ratio: 1;
                        display: grid;
                        position: relative;

                        .inner {
                            display: grid;
                            border-radius: 50%;
                            position: relative;
                            transition: background 0.2s ease;
                            background: radial-gradient(
                                    circle,
                                    transparent 70.5%,
                                    $color_01 calc(70.5% + 1px),
                                    $color_02 calc(70.5% + 2px)
                                ),
                                radial-gradient(
                                    circle,
                                    transparent 68%,
                                    $color_01 calc(68% + 1px),
                                    $color_02 calc(68% + 2px)
                                ),
                                radial-gradient(
                                    circle,
                                    transparent 55%,
                                    $color_01 calc(55% + 1px),
                                    $color_02 calc(55% + 2px)
                                ),
                                radial-gradient(
                                    circle,
                                    transparent 54%,
                                    $color_01 calc(54% + 1px),
                                    $color_02 calc(54% + 2px)
                                ),
                                radial-gradient(
                                    circle,
                                    transparent 46%,
                                    $color_01 calc(46% + 1px),
                                    $color_02 calc(46% + 2px)
                                ),
                                radial-gradient(
                                    circle,
                                    transparent 44%,
                                    $color_01 calc(44% + 1px),
                                    $color_02 calc(44% + 2px)
                                ),
                                radial-gradient(
                                    circle,
                                    transparent 29%,
                                    $color_01 calc(29% + 1px),
                                    $color_02 calc(29% + 2px)
                                ),
                                radial-gradient(
                                    circle,
                                    transparent 27%,
                                    $color_01 calc(27% + 1px),
                                    $color_02 calc(27% + 2px)
                                ),
                                radial-gradient(
                                    circle,
                                    transparent 20%,
                                    $color_01 calc(20% + 1px),
                                    $color_02 calc(20% + 2px)
                                );

                            .texts {
                                stroke: transparent;
                                fill: transparent;
                                font-size: 35px;
                                user-select: none;

                                text {
                                    fill: $color_01;
                                }
                            }
                        }

                        &:before {
                            content: "";
                            position: absolute;
                            bottom: -1.5vmin;
                            width: 6vmin;
                            aspect-ratio: 1;
                            left: 50%;
                            transform: translateX(-50%);
                            z-index: 0;
                            border-radius: 3px;
                            border: solid 1px $color_01;
                            background: $color_02;
                        }
                    }

                    &:after {
                        content: "";
                        grid-area: 1 / 1 / 2 / 2;
                        width: 4vmin;
                        max-width: 30px;
                        aspect-ratio: 1;
                        border-radius: 3px;
                        border: solid 1px $color_01;
                        z-index: 1;
                    }
                }
            }

            @media (min-width: $tablet) {
                .section-inner {
                    .viewfinder {
                        min-height: 100vh;
                    }
                }
            }
        }

        &--inter {
            .section-inner {
                @include container;

                .inter {
                    margin-bottom: 10vmin;
                    .title {
                        font-size: 75px;
                        line-height: 0.9;
                        text-transform: uppercase;

                        span {
                            display: inline-block;
                            transform-origin: top left;
                        }
                    }
                    .excerpt {
                        display: none;
                    }
                }
            }
            @media (min-width: $tablet) {
                .section-inner {
                    .inter {
                        position: relative;

                        .title {
                            font-size: clamp(10vh, 15vmin, 22vh);
                            position: relative;
                            z-index: 2;
                        }

                        .excerpt {
                            display: block;
                            position: absolute;
                            top: 0;
                            max-width: 200px;
                            left: 25%;
                            top: 20vh;
                            opacity: 0.6;
                            text-transform: uppercase;
                            font-size: 14px;

                            p + p {
                                margin-top: 15px;
                            }
                        }
                    }
                }
            }
        }

        &--picker {
            display: grid;
            align-items: center;
            user-select: none;

            .section-inner {
                .picker {
                    display: grid;
                    height: 26vh;
                    grid-template-rows: 2fr 6fr 2fr 3fr;

                    .top {
                        @include container;
                        @include container(small);
                        padding-top: 5px;
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        line-height: 1;

                        span {
                            display: flex;
                            align-items: center;
                            font-size: 12px;
                            text-transform: uppercase;
                            font-weight: 600;
                            column-gap: 8px;

                            em {
                                font-size: 15px;
                                font-weight: initial;
                            }
                        }

                        &:before,
                        &:after {
                            font-size: 17px;
                        }

                        &:before {
                            content: attr(data-number);
                        }

                        &:after {
                            content: "6";
                        }
                    }

                    .colors {
                        transform: translateX(100%);
                        display: grid;
                        align-self: center;

                        .colors-inner {
                            @include container;
                            display: flex;
                            column-gap: 10px;

                            .color {
                                width: 100%;
                                display: grid;
                                place-items: center;
                                position: relative;
                                padding: 1em 0;

                                &:before {
                                    content: "";
                                    position: absolute;
                                    inset: 0;
                                    background: $color_01;
                                }

                                span {
                                    position: relative;
                                    display: block;
                                    font-size: clamp(2vh, 8vmin, 6vh);
                                    text-transform: uppercase;
                                }

                                &:nth-child(1):before {
                                    opacity: 0.15;
                                }
                                &:nth-child(2):before {
                                    opacity: 0.25;
                                }
                                &:nth-child(3):before {
                                    opacity: 0.35;
                                }
                                &:nth-child(4):before {
                                    opacity: 0.45;
                                }
                                &:nth-child(5):before {
                                    opacity: 0.55;
                                }
                                &:nth-child(6):before {
                                    opacity: 0.45;
                                }
                            }
                        }
                    }

                    .bottom {
                        @include container(small);
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        padding-bottom: 1.5vh;
                        column-gap: 30px;
                        font-family: monospace;
                        font-weight: bolder;
                        font-size: 10px;
                    }

                    .gallery {
                        @include container(small);
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        font-family: $numeric;
                        text-transform: uppercase;
                        font-size: 24px;

                        &:before {
                            content: "0";
                        }
                        &:after {
                            content: "6";
                        }
                    }
                }
            }

            @media (min-width: $tablet) {
                .section-inner {
                    .picker {
                        .top {
                            justify-content: center;
                            column-gap: 60px;
                        }

                        .colors {
                            align-self: stretch;

                            .color {
                                padding: 0;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }

    [class^="section--"] {
        position: relative;
        z-index: 10;
    }

    .picker-lines {
        position: fixed;
        inset: 0;
        z-index: 1;
        display: grid;
        align-items: center;

        .inner {
            @include container(small);
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-between;
            height: 26vh;

            .line {
                background: $color_01;
                height: 2px;
                z-index: 20;

                &:nth-child(2) {
                    margin-bottom: 6vh;
                }
            }
        }
    }
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding-bottom: 20px;
    z-index: 50;
    user-select: none;

    .footer-inner {
        @include container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;

        .footer-iso {
            font-family: $numeric;
            font-size: 18px;

            &:before {
                content: "iso";
                font-family: $sansserif;
                display: inline-block;
                vertical-align: top;
                background: $color_01;
                color: $color_02;
                padding: 0.2em 0.3em;
                border-radius: 2px;
                text-transform: uppercase;
                font-size: 10px;
                transform: translateY(-30%);
                margin-right: 3px;
            }
        }

        .footer-energy {
            display: flex;
            align-items: flex-end;
            column-gap: 5px;

            .icon {
                width: 25px;
                aspect-ratio: 2;
                border-radius: 2px;
                border: solid 1px $color_01;
                position: relative;
                padding: 1%;
                display: grid;

                &:before {
                    content: "";
                    position: absolute;
                    left: -10%;
                    width: 10%;
                    height: 50%;
                    top: 50%;
                    transform: translateY(-50%);
                    border: solid 1px $color_01;
                    border-right: none;
                    border-radius: 2px 0 0 2px;
                }

                &:after {
                    content: "";
                    background: repeating-linear-gradient(
                        -45deg,
                        $color_01,
                        $color_01 20%,
                        transparent 20%,
                        transparent 23%
                    );
                }
            }

            .value {
                display: inline-block;
                vertical-align: bottom;
                font-family: $numeric;
                font-size: 22px;
                line-height: 0.5;

                &:before,
                &:after {
                    display: inline-block;
                    vertical-align: bottom;
                    transform-origin: bottom;
                    transform: scaleY(1.4);
                }

                &:before {
                    content: "(";
                    margin-right: 1px;
                }
                &:after {
                    content: ")";
                }
            }
        }
    }
}

.loader {
    position: fixed;
    background: $color_03;
    inset: 0;
    z-index: 100;
    display: grid;

    .loader-inner {
        display: grid;
        place-items: center;
        @include container;
        position: relative;

        .balls {
            grid-area: 1 / 1 / 2 / 2;
            @include balls(60px);
        }

        .content {
            text-align: center;
            grid-area: 1 / 1 / 2 / 2;
            font-size: 20px;
            max-width: 300px;
            width: 100%;
            display: grid;
            row-gap: 35px;
            opacity: 0;
            visibility: hidden;

            .links {
                display: grid;
                row-gap: 20px;

                .link {
                    justify-self: center;
                    display: grid;

                    &:after {
                        content: "";
                        height: 1px;
                        background: $color_01;
                        width: 0%;
                        margin-top: 2px;
                        transition: width 0.2s ease;
                    }

                    &:hover {
                        &:after {
                            width: 100%;
                        }
                    }
                }
            }

            .button {
                color: $color_03;
                background: $color_01;
                place-self: center;
                padding: 0.5em 0.8em;
                cursor: pointer;
                border-radius: 2px;
            }
        }
    }
    &:before {
        content: "";
        position: absolute;
        background: inherit;
        bottom: 5vh;
        width: 120%;
        height: 30vh;
        border-radius: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}

.bubble {
    position: fixed;
    top: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: grey;
    transform: translate(-50%, -50%);
    z-index: 0;
}
