@mixin balls($width: 35px) {
    width: $width;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: #{$width * 0.8};
    transform: translateX(#{-$width * 0.8});
    display: grid;

    @keyframes move_balls {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(80%);
        }
    }

    &:before,
    &:after {
        content: "";
        grid-area: 1 / 1 / 2 / 2;
        border-radius: 50%;
        border: solid 1px $color_01;
        animation: 1s ease-in-out 0s infinite alternate move_balls;
    }

    &:before {
        background: $color_01;
        animation: 1s ease-in-out 0s infinite alternate-reverse move_balls;
    }
}
