@mixin container($size: large) {
    width: calc(100vw - 40px);
    max-width: 1950px;
    margin: 0 auto;

    @if $size == small {
        max-width: 1200px;
    }

    @media (min-width: $tablet) {
        width: calc(100vw - 100px);
    }
}
